{{define "dashboard.html"}}
<!DOCTYPE html>
<html lang="en" charset="utf-8">

<head>
  <title>Pomerium Verify</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
  <link rel="stylesheet" type="text/css" href="/assets/style/main.css" />
  <link rel="icon" type="image/png" href="/assets/img/logo-only.svg" />
</head>

<body>
  <div class="inner">
    <div class="header clearfix">
      <div class="heading">
        <a href="/" class="logo"></a> <span>{{.Request.Host}}</span>
      </div>
    </div>
    <div class="content">
      <div class="white box">
        <div class="largestatus">
          {{if not .PomeriumInfoErr}}
          <span class="status-bubble status-up"></span>
          <div class="title-wrapper">
            <span class="title">Identity found and verified 🚀</span>
            <label class="status-time">
              <span>This app is properly configured and is being secured by Pomerium.</span>
            </label>
          </div>
          {{else}}
          <span class="status-bubble status-down"></span>
          <div class="title-wrapper">
            <span class="title">Identity verification failed</span>
            <label class="status-time">
              <span>We tried to verify the incoming user, but failed with the following error: </span>
              <code>{{.PomeriumInfoErr}}</code>
            </label>
          </div>
          {{end}}
        </div>
      </div>

      <div class="category white box">
        <div class="messages">
          <div class="box-inner">
            <div class="category-header clearfix">
              <span class="category-title">Signed Identity Token</span>
              {{if not .PomeriumInfoErr}}
                {{if .PomeriumInfo}}
                <a
                  href="https://jwt.io/#debugger-io?token={{.PomeriumInfo.RawJWT}}&publicKey={{.PomeriumInfo.PublicKey}}">
                  <span class="category-icon"> </span>
                </a>
                {{end}}
              {{end}}

            </div>
            <ul class="category-contents plain">
              {{if .PomeriumInfo}}
                {{with .PomeriumInfo}}
                <table>
                  <thead>
                    <tr>
                      <th>Claim</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Email</td>
                      <td>{{.Email}}</td>
                    </tr>
                    <tr>
                      <td>Issuer</td>
                      <td>{{.Issuer}}</td>
                    </tr>
                    <tr>
                      <td>User</td>
                      <td>{{.User}}</td>
                    </tr>
                    <tr>
                      <td>Subject</td>
                      <td>{{.Subject}}</td>
                    </tr>
                    <tr>
                      <td>Audience</td>
                      <td>
                        {{range .Audience }}
                        <p>{{.}}</p>
                        {{end}}
                      </td>
                    </tr>
                    <tr>
                      <td>Expiry</td>
                      <td>{{.Expiry.Time | formatTime}}</td>
                    </tr>
                    <tr>
                      <td>IssuedAt</td>
                      <td>{{.IssuedAt.Time | formatTime}}</td>
                    </tr>
                    <tr>
                      <td>ID</td>
                      <td>{{.ID}}</td>
                    </tr>
                    <tr>
                      <td>Groups</td>
                      <td>{{range .Groups }} <p> {{.}}</p>{{end}}</td>
                    </tr>
                  </tbody>
                </table>
                {{end}}
              {{else}}
               <p> No attestation JWT!</p>
              {{end}}

          </div>
          <div class="category-link">
            Pomerium adds a signed JWT token to the incoming request headers (<code>X-Pomerium-Jwt-Assertion</code>)
            which can then be used to assert a
            <a href="https://www.pomerium.com/docs/topics/getting-users-identity.html#verification">
              user's identity details</a>.
          </div>
        </div>
      </div>


      <div class="category white box">
        <div class="messages">
          <div class="box-inner">
            <div class="category-header clearfix">
              <span class="category-title">Unsigned Identity Headers</span>
              <a href="/headers"><span class="json-icon"></span></a>
            </div>
            </ul>

            {{if .PomeriumHeaders}}
            <table>
              <thead>
                <tr>
                  <th>Header</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  {{range $k,$v:= .PomeriumHeaders}}
                  <td>{{$k}}</td>
                  <td>
                    {{range $element := $v}}<p>{{$element}}</p>
                    {{end}}
                  </td>
                </tr>
                {{end}}

              </tbody>
            </table>
            {{else}}
            No headers found!
            {{end}}
          </div>
          <div class="category-link">
            Pomerium allows <a href="https://docs.pomerium.io/reference/#jwt-claim-headers">
            passing identity </a> to upstream applications as HTTP request headers. 
            Note, unlike <code>x-pomerium-jwt-assertion</code> these headers are 
            <strong>not signed</strong>.
          </div>
        </div>
      </div>
      <div class="category white box">
        <div class="messages">
          <div class="box-inner">
            <div class="category-header clearfix">
              <span class="category-title">Request Details</span>
              <a href="/json"><span class="json-icon"></span></a>
            </div>
            </ul>

            <table>
              <tbody>
                <tr>
                  {{range $k,$v:= .Request}}
                  <td>{{$k}}</td>
                  <td>{{$v}}</td>
                </tr>
                {{end}}

              </tbody>
            </table>
          </div>
          <div class="category-link">
            A complete dump of the values on this page can be found at the <a href="/json">/json</a> endpoint.
          </div>
        </div>
      </div>
    </div>
    <div id="footer">
      <ul>
        <li><a href="https://pomerium.com/">Home</a></li>
        <li><a href="https://pomerium.com/docs">Docs</a></li>
        <li><a href="https://pomerium.com/docs/community/">Support</a></li>
        <li><a href="https://github.com/pomerium">Github</a></li>
        <li class="last">
          <a href="https://twitter.com/pomerium_io">@pomerium_io</a>
        </li>
      </ul>
      <p>© Pomerium, Inc.</p>
</body>

</html>
{{end}}